@import "~antd/dist/antd.css";

.ant-layout {
  min-height: max-content;
}

.ant-page-header {
  padding-left: 0;
  padding-right: 0;
}

body {
  line-height: 1.5;
  font-family: var(--bodyFont);
  -webkit-font-smoothing: antialiased;
  font-size: var(--bodyFontSize);
  color: var(--darkGray);
  width: 100vw;
  height: 100vh;
}
