.data-entry-form_input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.7em 0.3em;
}

.data-entry-form_buttons {
  text-align: center;
  margin-top: 10px;
}

input[type="number"],
select {
  width: auto;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
}

.data-entry-form_label {
  text-transform: capitalize;
}
