.data-entry_record_person_type {
  font-size: large;
}

.data-entry_publication-date-field > label {
  font-size: medium;
}

.data-entry {
  margin-top: 20px;
}

.data-entry_category-descr-header {
  color: #cc4a51;
}

.data-entry_publication-date-field {
  margin-top: 10px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}
