.data-entry-form_input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
  grid-gap: 0.7em 0.3em;
}

.data-entry-form_buttons {
  text-align: center;
  margin-top: 1.5rem;
}

input[type="text"],
select {
  width: 50%;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
}

.data-entry-form_label {
  text-transform: capitalize;
}

.data-entry-form_required-field {
  color: red;
}

input[type="date"],
select {
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  padding: 2px 2px 2px 5px;
  background-color: #fff;
}
